.hint-text {
    -unity-font-definition: url("project://database/Assets/Assets/Font/NanumMyeongJo/NanumMyeongjoExtraBold.otf?fileID=12800000&guid=1edbb0b45fd39fb44a97b142dd0d432f&type=3#NanumMyeongjoExtraBold");
    -unity-font-style: normal;
    font-size: 248%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: rgb(75, 19, 19);
}
